.division-reports-container {
    grid-area: calc(100%-260px);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .text-center {
    text-align: center;
    color: #333;
  }
  
  .mt-5 {
    margin-top: 3rem !important;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem !important;
  }
  
  .card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: 500;
  }
 .form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .form-control {
    border-radius: 4px;
    font-size: 15px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
  } 
  
  